/* App.css */
.top-section {
  width: 100%;
}

.contact-details {
  background-color: lightblue;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-details p {
  margin: 0 10px;
}

.navigation-bar {
  /* position: fixed; Change from absolute to fixed */
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.navigation-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.navigation-bar li {
  margin: 0 10px;
}

.navigation-bar a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.navigation-bar a:hover {
  font-weight: bold;
}

/* Add margin-top to create space below navigation bar */
.main-content {
  margin-top: 60px; /* Adjust as needed based on the height of the navigation bar */
}
